# Python
.env
*.pyc
**/.ipynb_checkpoints/
.pytype/
**/__pycache__/**

# Pyenv files
.python-version
*.venv
.venv

# Visual Studio files
.vs/
.vscode/
*.sdf
*.opensdf
*.VC.opendb
*.suo
*.user
*.code-workspace

# macOS files
.DS_Store

# Model artifacts
*.pt
*.safetensors
*.gguf
*.vmfb
iree_tests/onnx/node/generated/test_*/iree_output_*.npy

# Test report files
test-run
