transformers
huggingface-cli
onnxruntime
sentencepiece
accelerate
auto-gptq
optimum
tabulate
# install nightly build of iree-compiler and iree-runtime
iree-compiler -f https://iree.dev/pip-release-links.html
iree-runtime -f https://iree.dev/pip-release-links.html
azure-storage-blob
simplejson