# TODO(scotttodd): compile into a build/temp dir instead of the source dir
*.vmfb
# TODO(scotttodd): convert into a build/temp dir instead of the source dir
*.onnx

# Leftovers from an older iteration of compile/run test scripts.
config_*.txt

# Large files fetched on-demand
*.bin
real_weights.irpa
pytorch/models/**/*.npy
