-r https://raw.githubusercontent.com/llvm/torch-mlir/main/requirements.txt
-r https://raw.githubusercontent.com/llvm/torch-mlir/main/torchvision-requirements.txt
tabulate
simplejson
ml_dtypes
onnx
onnxruntime
transformers
huggingface-hub
sentencepiece
accelerate
auto-gptq
optimum
sentence_transformers
azure-storage-blob
compressed_tensors
custom_st
fugashi
tensorflow
timm
